<html>
  <body>
    <div class='posts'>
      <% @posts.each do |post| %>
        <div class='post'>
          <h2 class='title'>
            <a href="<%= post_path post.id %>"><%= post.title %></a>
          </h2>
          <small class='meta'>
            <span class='author'>by <%= post.author %> — </span>
            <em class='created_at'><%= post.created_at %></em>
          </small>
          <a href="<%= post_path post.id %>">Edit</a>
          <form method='post' action='<%= post_path post.id %>' style='display: inline' data-method='delete'>
            <input type='submit' value='Delete'>
          </form>
        </div>
        <hr>
      <% end %>
    </div>
    <a href="<%= new_post_path %>">New Post</a>
  </body>
</html>

